name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        build:
          - name: mybench
            platform: linux/amd64
            os: ubuntu-latest
          - name: mybench
            platform: darwin/universal
            os: macos-latest
          - name: mybench
            platform: windows/amd64
            os: windows-latest

    runs-on: ${{ matrix.build.os }}

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: tylertravisty/wails-build-action@v1
        with:
          build-name: ${{ matrix.build.name }}
          build-platform: ${{ matrix.build.platform }}
          go-version: '1.24'
          node-version: '22'
          nsis: false
